USE [master]
GO
/****** Object:  Database [Playzer]    Script Date: 01.06.2023 16:28:29 ******/
CREATE DATABASE [Playzer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Playzer', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MRKRUTOR\MSSQL\DATA\Playzer.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Playzer_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MRKRUTOR\MSSQL\DATA\Playzer_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Playzer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Playzer]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 01.06.2023 16:28:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Image] [varchar](150) NULL,
 CONSTRAINT [PK_Game] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Player]    Script Date: 01.06.2023 16:28:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Player] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Score]    Script Date: 01.06.2023 16:28:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Score](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Score] [int] NOT NULL,
	[PlayerID] [int] NOT NULL,
	[GameID] [int] NOT NULL,
 CONSTRAINT [PK_Score] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Game] ON 

INSERT [dbo].[Game] ([ID], [Title], [Image]) VALUES (1, N'Змейка', N'/Images/SnakeWallpaper.jpg')
INSERT [dbo].[Game] ([ID], [Title], [Image]) VALUES (2, N'Крестики-нолики', N'/Images/TicTacToeWallpaper.jpg')
SET IDENTITY_INSERT [dbo].[Game] OFF
GO
SET IDENTITY_INSERT [dbo].[Player] ON 

INSERT [dbo].[Player] ([ID], [Login], [Password]) VALUES (1, N'MrKrutor', N'123')
INSERT [dbo].[Player] ([ID], [Login], [Password]) VALUES (2, N'maximus14356', N'123')
INSERT [dbo].[Player] ([ID], [Login], [Password]) VALUES (3, N'BOLKER', N'qwe')
SET IDENTITY_INSERT [dbo].[Player] OFF
GO
SET IDENTITY_INSERT [dbo].[Score] ON 

INSERT [dbo].[Score] ([ID], [Score], [PlayerID], [GameID]) VALUES (4, 1, 3, 1)
INSERT [dbo].[Score] ([ID], [Score], [PlayerID], [GameID]) VALUES (5, 22, 1, 1)
INSERT [dbo].[Score] ([ID], [Score], [PlayerID], [GameID]) VALUES (6, 2, 2, 1)
SET IDENTITY_INSERT [dbo].[Score] OFF
GO
ALTER TABLE [dbo].[Score]  WITH CHECK ADD  CONSTRAINT [FK_Score_Game] FOREIGN KEY([GameID])
REFERENCES [dbo].[Game] ([ID])
GO
ALTER TABLE [dbo].[Score] CHECK CONSTRAINT [FK_Score_Game]
GO
ALTER TABLE [dbo].[Score]  WITH CHECK ADD  CONSTRAINT [FK_Score_Player] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[Player] ([ID])
GO
ALTER TABLE [dbo].[Score] CHECK CONSTRAINT [FK_Score_Player]
GO
USE [master]
GO
