USE [BiletUdovichenko]
GO
/****** Object:  Table [dbo].[Adapter]    Script Date: 05.07.2023 11:38:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adapter](
	[ID] [int] NOT NULL,
	[adapter] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Adapter] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Computers]    Script Date: 05.07.2023 11:38:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Computers](
	[ID] [int] NOT NULL,
	[adapter] [int] NOT NULL,
 CONSTRAINT [PK_Computers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Prices]    Script Date: 05.07.2023 11:38:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prices](
	[ID] [int] NOT NULL,
	[adapterPrice] [int] NOT NULL,
 CONSTRAINT [PK_Price] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Provider]    Script Date: 05.07.2023 11:38:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provider](
	[ID] [int] NOT NULL,
	[provider] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Provider] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[purshase]    Script Date: 05.07.2023 11:38:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purshase](
	[ID] [int] NOT NULL,
	[adapter] [nvarchar](50) NOT NULL,
	[provider] [int] NOT NULL,
	[price] [int] NOT NULL,
 CONSTRAINT [PK_Adapters] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Adapter] ([ID], [adapter]) VALUES (1, N'Ethernet 1')
INSERT [dbo].[Adapter] ([ID], [adapter]) VALUES (2, N'Ethernet 2')
INSERT [dbo].[Adapter] ([ID], [adapter]) VALUES (3, N'Ethernet 3')
INSERT [dbo].[Prices] ([ID], [adapterPrice]) VALUES (1, 1000)
INSERT [dbo].[Prices] ([ID], [adapterPrice]) VALUES (2, 2000)
INSERT [dbo].[Prices] ([ID], [adapterPrice]) VALUES (3, 3000)
INSERT [dbo].[Provider] ([ID], [provider]) VALUES (1, N'Поставщик1')
INSERT [dbo].[Provider] ([ID], [provider]) VALUES (2, N'Поставщик2')
INSERT [dbo].[Provider] ([ID], [provider]) VALUES (3, N'Поставщик3')
INSERT [dbo].[purshase] ([ID], [adapter], [provider], [price]) VALUES (1, N'1', 1, 1)
INSERT [dbo].[purshase] ([ID], [adapter], [provider], [price]) VALUES (2, N'2', 1, 2)
INSERT [dbo].[purshase] ([ID], [adapter], [provider], [price]) VALUES (3, N'3', 1, 3)
