USE [master]
GO
/****** Object:  Database [Сергеева, 3ПКС-420, Квалиф]    Script Date: 05.07.2023 11:36:35 ******/
CREATE DATABASE [Сергеева, 3ПКС-420, Квалиф]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Сергеева, 3ПКС-420, Квалиф', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Сергеева, 3ПКС-420, Квалиф.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Сергеева, 3ПКС-420, Квалиф_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Сергеева, 3ПКС-420, Квалиф_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Сергеева, 3ПКС-420, Квалиф].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Сергеева, 3ПКС-420, Квалиф]
GO
/****** Object:  Table [dbo].[Адрес]    Script Date: 05.07.2023 11:36:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Адрес](
	[ID] [int] NOT NULL,
	[Адрес шлюза] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Адрес] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Проверка]    Script Date: 05.07.2023 11:36:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Проверка](
	[ID] [int] NOT NULL,
	[ID шлюза] [int] NULL,
	[Ping] [nvarchar](50) NULL,
	[Дата] [date] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Шлюза]    Script Date: 05.07.2023 11:36:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Шлюза](
	[ID] [int] NOT NULL,
	[Наименование шлюза] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Шлюза] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Адрес] ([ID], [Адрес шлюза]) VALUES (1, N'213.180.204.8')
INSERT [dbo].[Адрес] ([ID], [Адрес шлюза]) VALUES (2, N'93.186.238.24')
INSERT [dbo].[Адрес] ([ID], [Адрес шлюза]) VALUES (3, N'8.8.8.8')
INSERT [dbo].[Проверка] ([ID], [ID шлюза], [Ping], [Дата]) VALUES (1, 1, N'32', CAST(N'2023-07-01' AS Date))
INSERT [dbo].[Проверка] ([ID], [ID шлюза], [Ping], [Дата]) VALUES (2, 2, N'-', CAST(N'2023-07-01' AS Date))
INSERT [dbo].[Проверка] ([ID], [ID шлюза], [Ping], [Дата]) VALUES (3, 3, N'32', CAST(N'2023-07-01' AS Date))
INSERT [dbo].[Шлюза] ([ID], [Наименование шлюза]) VALUES (1, N'Яндекс')
INSERT [dbo].[Шлюза] ([ID], [Наименование шлюза]) VALUES (2, N'ВК')
INSERT [dbo].[Шлюза] ([ID], [Наименование шлюза]) VALUES (3, N'Ютуб')
ALTER TABLE [dbo].[Проверка]  WITH CHECK ADD  CONSTRAINT [FK_Проверка_Шлюза] FOREIGN KEY([ID шлюза])
REFERENCES [dbo].[Шлюза] ([ID])
GO
ALTER TABLE [dbo].[Проверка] CHECK CONSTRAINT [FK_Проверка_Шлюза]
GO
ALTER TABLE [dbo].[Шлюза]  WITH CHECK ADD  CONSTRAINT [FK_Шлюза_Адрес] FOREIGN KEY([ID])
REFERENCES [dbo].[Адрес] ([ID])
GO
ALTER TABLE [dbo].[Шлюза] CHECK CONSTRAINT [FK_Шлюза_Адрес]
GO
USE [master]
GO
