USE [master]
GO
/****** Object:  Database [Zaharov_420]    Script Date: 05.07.2023 12:00:23 ******/
CREATE DATABASE [Zaharov_420]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Zaharov_420', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Zaharov_420.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Zaharov_420_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Zaharov_420_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Zaharov_420].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Zaharov_420]
GO
/****** Object:  Table [dbo].[IP_Шлюзов]    Script Date: 05.07.2023 12:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IP_Шлюзов](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IP шлюза] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_IP_Шлюзов] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[НаименованиеШлюзов]    Script Date: 05.07.2023 12:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[НаименованиеШлюзов](
	[ID] [int] NOT NULL,
	[Наименование шлюза] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_НаименованиеШлюзов] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ПроверкаШлюзов]    Script Date: 05.07.2023 12:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ПроверкаШлюзов](
	[ID] [int] NOT NULL,
	[Ping] [int] NOT NULL,
	[Дата] [date] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[IP_Шлюзов] ON 

INSERT [dbo].[IP_Шлюзов] ([ID], [IP шлюза]) VALUES (1, N'8.8.8.8')
INSERT [dbo].[IP_Шлюзов] ([ID], [IP шлюза]) VALUES (2, N'77.88.55.88')
INSERT [dbo].[IP_Шлюзов] ([ID], [IP шлюза]) VALUES (3, N'98.137.27.103')
SET IDENTITY_INSERT [dbo].[IP_Шлюзов] OFF
INSERT [dbo].[НаименованиеШлюзов] ([ID], [Наименование шлюза]) VALUES (1, N'Google')
INSERT [dbo].[НаименованиеШлюзов] ([ID], [Наименование шлюза]) VALUES (2, N'Яндекс')
INSERT [dbo].[НаименованиеШлюзов] ([ID], [Наименование шлюза]) VALUES (3, N'Yahoo')
INSERT [dbo].[ПроверкаШлюзов] ([ID], [Ping], [Дата]) VALUES (1, 23, CAST(N'2023-07-01' AS Date))
INSERT [dbo].[ПроверкаШлюзов] ([ID], [Ping], [Дата]) VALUES (2, 11, CAST(N'2023-07-01' AS Date))
INSERT [dbo].[ПроверкаШлюзов] ([ID], [Ping], [Дата]) VALUES (3, 188, CAST(N'2023-07-01' AS Date))
ALTER TABLE [dbo].[НаименованиеШлюзов]  WITH CHECK ADD  CONSTRAINT [FK_НаименованиеШлюзов_IP_Шлюзов] FOREIGN KEY([ID])
REFERENCES [dbo].[IP_Шлюзов] ([ID])
GO
ALTER TABLE [dbo].[НаименованиеШлюзов] CHECK CONSTRAINT [FK_НаименованиеШлюзов_IP_Шлюзов]
GO
ALTER TABLE [dbo].[ПроверкаШлюзов]  WITH CHECK ADD  CONSTRAINT [FK_ПроверкаШлюзов_IP_Шлюзов] FOREIGN KEY([ID])
REFERENCES [dbo].[IP_Шлюзов] ([ID])
GO
ALTER TABLE [dbo].[ПроверкаШлюзов] CHECK CONSTRAINT [FK_ПроверкаШлюзов_IP_Шлюзов]
GO
USE [master]
GO
